.img-fluid {
    opacity: 0.5;
}

.container {
    position: relative;
    max-width: 100%;
    height: auto;
}

.col {
    text-align: center;
}

.card-img-top {
    text-align: center;
}

.card-title {
    text-align: center;
}

.card-body {
    text-align: center;
}

.flexcontainer {
    display: flex;
    justify-content: space-between;
}